In [10]:
%pip install xlrd openpyxl lifetimes numpy pandas matplotlib seaborn missingno scikit-learn

Requirement already satisfied: xlrd in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (2.0.1)
Requirement already satisfied: openpyxl in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (3.1.5)
Requirement already satisfied: lifetimes in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (0.11.3)
Requirement already satisfied: numpy in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: pandas in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: matplotlib in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (3.10.0)
Requirement already satisfied: seaborn in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (0.13.2)
Requirement already satisfied: missingno in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (0.5.2)
Requirement already satisfied: scikit-learn in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (1.6.1)
Requirement already satisfied: et-xmlfile in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from openpyxl) (2.0.0)
Requirement already satisfied: scipy>=1.0.0 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from lifetimes) (1.15.1)
Requirement already satisfied: autograd>=1.2.0 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from lifetimes) (1.7.0)
Requirement already satisfied: dill>=0.2.6 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from lifetimes) (0.3.9)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from matplotlib) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\raffa\progetti python\progetto_1\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
import missingno as msno
from sklearn.preprocessing import MinMaxScaler
from lifetimes import BetaGeoFitter
from lifetimes import GammaGammaFitter
from lifetimes.plotting import plot_period_transactions
from IPython.display import display
import warnings
warnings.filterwarnings("ignore")

In [12]:
print("# Leggo Primo Df...")
df1=pd.read_excel(r"C:\Users\raffa\Progetti Python\PROGETTO_1\online_retail_II.xlsx",
                  sheet_name="Year 2009-2010")
print("## Primo Df letto.")
print("# Leggo Secondo Df...")
df2=pd.read_excel(r"C:\Users\raffa\Progetti Python\PROGETTO_1\online_retail_II.xlsx",
                  sheet_name="Year 2010-2011")
print("## Secondo Df letto.")
NUMEBER_ANALISYS = 1

# Leggo Primo Df...
## Primo Df letto.
# Leggo Secondo Df...
## Secondo Df letto.

In [13]:
def check_df(dataframe):
    pd.set_option('display.max_rows', None)  # Mostra tutte le righe
    pd.set_option('display.max_columns', None)  # Mostra tutte le colonne
    pd.set_option('display.width', 1000)  # Allarga l'output per evitare troncamenti
    pd.set_option('display.max_colwidth', None)  # Evita che il contenuto delle colonne venga troncato

    print(f"""###############################################################\n######################### ANALISI DF ##########################""")
    print("##################### Shape #####################")
    print(dataframe.shape)
    print("##################### Types #####################")
    print(dataframe.dtypes)
    print("##################### Head #####################")
    display(dataframe.head(3))  # Usa display() invece di print()
    print("##################### Tail #####################")
    display(dataframe.tail(3))  # Usa display() invece di print()
    print("##################### NA #####################")
    print(dataframe.isnull().sum())
    print("\n\n")

check_df(df1)

###############################################################
######################### ANALISI DF ##########################
##################### Shape #####################
(525461, 8)
##################### Types #####################
Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object
##################### Head #####################

  Invoice StockCode                          Description  Quantity         InvoiceDate  Price  Customer ID         Country
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12 2009-12-01 07:45:00   6.95      13085.0  United Kingdom
1  489434    79323P                   PINK CHERRY LIGHTS        12 2009-12-01 07:45:00   6.75      13085.0  United Kingdom
2  489434    79323W                  WHITE CHERRY LIGHTS        12 2009-12-01 07:45:00   6.75      13085.0  United Kingdom

##################### Tail #####################

       Invoice StockCode                         Description  Quantity         InvoiceDate  Price  Customer ID         Country
525458  538171     22751      FELTCRAFT PRINCESS OLIVIA DOLL         1 2010-12-09 20:01:00   3.75      17530.0  United Kingdom
525459  538171     20970  PINK FLORAL FELTCRAFT SHOULDER BAG         2 2010-12-09 20:01:00   3.75      17530.0  United Kingdom
525460  538171     21931              JUMBO STORAGE BAG SUKI         2 2010-12-09 20:01:00   1.95      17530.0  United Kingdom

##################### NA #####################
Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

In [15]:
check_df(df2)

###############################################################
######################### ANALISI DF ##########################
##################### Shape #####################
(541910, 8)
##################### Types #####################
Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer ID           float64
Country                object
dtype: object
##################### Head #####################

  Invoice StockCode                         Description  Quantity         InvoiceDate  Price  Customer ID         Country
0  536365    85123A  WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1  536365     71053                 WHITE METAL LANTERN         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2  536365    84406B      CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00   2.75      17850.0  United Kingdom

##################### Tail #####################

       Invoice StockCode                      Description  Quantity         InvoiceDate  Price  Customer ID Country
541907  581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4 2011-12-09 12:50:00   4.15      12680.0  France
541908  581587     22138    BAKING SET 9 PIECE RETROSPOT          3 2011-12-09 12:50:00   4.95      12680.0  France
541909  581587      POST                          POSTAGE         1 2011-12-09 12:50:00  18.00      12680.0  France

##################### NA #####################
Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64